<header id="header">
  <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light"
       data-src="images/banner.png"
       data-sizes="(min-width: 650px) 650px, 100vw" uk-img>
    <h1>Welcome to the App Bundle Store</h1>
  </div>
</header>
