<aside class="uk-width-1-3@m">
  <h3 class="uk-heading-divider uk-text-center"> Weekly Deals</h3>
  <div class="uk-card uk-card-default uk-card-small uk-text-center uk-card-hover">
    <div class="uk-card-media-top">
      <img src="images/business.png" alt="Business Bundle">
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title"> Business Bundle</h3>
      <p> Here comes the next bundle for march. This time it's macware who publish a bundle. The so called macware
        Business Bundle contains 6 apps at a price of only €29.99 instead of €199.94. So you can save around 84%. </p>
    </div>
  </div>
  <hr class="uk-divider-icon">
  <div class="uk-card uk-card-default uk-card-small uk-text-center uk-card-hover">
    <div class="uk-card-media-top">
      <img src="images/insanity.jpg" alt="Insanity Deal">
    </div>
    <div class="uk-card-body">
      <h3 class="uk-card-title"> Insanity Deal</h3>
      <p> With the new €5 Insanity Deals from
        Bundlehunt you receive every day a highly reduced app for €5 only with savings up to 75%. Not a real bundle but, as
        there are multiple apps for only €5 each, one new per day, for the days to come. </p>
    </div>
  </div>
</aside>
